@charset "utf-8";
/* CSS Document - Surcharge css Agences */
@font-face {
  font-family: 'Vollkorn';
  font-style: normal;
  font-weight: normal;
  src: url('fonts/vollkorn/Vollkorn-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Vollkorn';
  font-style: normal;
  font-weight: 600;
  src: url('fonts/vollkorn/Vollkorn-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Miriam Libre';
  font-style: normal;
  font-weight: normal;
  src: url('fonts/miriam-libre/MiriamLibre-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Miriam Libre';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/miriam-libre/MiriamLibre-Bold.ttf') format('truetype');
}

/***********************************/
/* CUSTOM */
/***********************************/
html,
html *,
[class^="btn"],
.btn {
  font-family: 'Miriam Libre', sans-serif;
}

body {
  background: #ffffff;
  color: #001821;
}

.site-wrapper {
  padding: 0 0 2rem;
  background-color: #ffffff;
}

.layout-2-col {
  padding: 7rem 0;
}

.front .layout-2-col {
  padding-top: 0;
}

.pub-container {
  width: 970px;
  margin: 1rem auto;
  text-align: center;
}

/* Title */
h1, h2, h3, h4 {
  color: #001821;
  line-height: 1.2;
}

h1 {
  margin-bottom: 0;
  border: 0;
  font-size: 5.4rem;
  font-weight: 500;
}

h2 {
  margin: 0;
  border: 0;
  font-size: 5.4rem;
  font-weight: 500;
}

h2:not(:first-child) {
  margin-top: 5rem;
}

.front h2 {
  font-size: 6.8rem;
  font-weight: 700;
}

.contacts-list h2 {
  margin-left: 2rem;
}

h3 {
  margin-bottom: 0;
  font-size: 3.2rem;
  font-weight: normal;
}

.cl-content + h2,
.cl-content + h3 {
  margin-top: 3rem;
}

h4 {
  margin-bottom: 0;
  font-size: 3.5rem;
  font-weight: 500;
  line-height: 1.2;
}

h5 {
  margin-bottom: 0;
  font-size: 1.8rem;
  font-weight: 500;
}

/* Paragraphe */
p {
  font-size: 1.6rem;
}

p strong {
  font-weight: 700;
}

p.style1 {
  font-family: 'Vollkorn', serif;
}

p.style1 strong {
  font-weight: 600;
}

p.style3 {
  font-size: 1.4rem;
}

/* Liens */
a {
  color: #001821;
  text-decoration: none;
}

/* Button */
.cta-1,
.style1 a,
.cta-2,
.style2 a,
.cta-3,
.style3 a,
.style4 a,
a.link-read-more {
  display: inline-block;
  margin-bottom: 2rem;
  padding: 1rem 2rem;
  box-shadow: 0 0 12px 2px rgba(0,0,0,0.16);
  font-weight: 700;
  text-align: center;
  text-decoration: none;
}

.style1 a,
.style2 a,
.style3 a,
.style4 a,
a.link-read-more {
  min-width: 19rem;
  margin: 0;
  font-size: 1.6rem;
}

.cta-1,
.style1 a,
.style1 .lien1,
a.link-read-more {
  background: #ffffff;
  color: #001821;
}

.cta-1:hover,
.style1 a:hover,
.style1 .lien1:hover,
a.link-read-more:hover {
  background: #001821;
  color: #ffffff;
}

.cta-2,
.style2 a,
.style1 .lien2 {
  background: #001821;
  color: #ffffff;
}

.cta-2:hover,
.style2 a:hover,
.style1 .lien2:hover {
  background: #ffffff;
  color: #001821;
}

/* Color */
.important1 {
  color: #ff3100;
}

.important2,
.orange-light {
  color: #f39005;
}

.capsule-green {
  display: inline;
  background-color: #6dd700;
  font-size: 3.2rem;
  line-height: 1.4;
}

/* Arrow */
.arrow-right {
  display: inline-block;
  margin: 0 5px;
  border-top: solid 5px transparent;
  border-bottom: solid 5px transparent;
  border-left: solid 7px #f39005;
}

/* Cookies */
.cc-cookies {
  top: inherit;
  bottom: 0;
  padding: 1rem 10%;
  background: #ab0638;
  color: #ffffff;
}

.cc-cookies .inside {
  max-width: 1220px;
}

.cc-cookie-link,
.cc-cookies a:hover,
.cc-cookies a:focus {
  color: #ffffff;
}

.cc-cookie-accept {
  right: -10%;
  padding: 0.5rem 1rem;
  background: #000000;
  color: #ffffff;
  font-size: 1.4rem;
}

/* Footer */
.site-footer {
  background: #001821 url('img/assises/rosette-opacity.svg') no-repeat 5% 60rem / 1020px 1020px;
}

.site-footer .inside {
  display: flex;
  flex-direction: column;
  max-width: inherit;
  padding: 5rem 2rem 0;
}

.site-footer .footer-top-container p {
  margin-top: 2rem;
  font-size: 1.4rem;
}

.footer-dgconsultants,
.footer-comexposium,
.footer-links {
  margin-bottom: 4rem;
}

.footer-comexposium {
  border-bottom: 1px solid #ffffff;
  padding-bottom: 4rem;
}

.site-footer h2 {
  font-size: 1.8rem;
  color: #ffffff;
  text-transform: uppercase;
}

.site-footer .link {
  margin-top: 3rem;
  display: block;
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 700;
}

.footer-links .cta-1 {
  display: block;
  margin: 0 0 1.2rem 0;
  color: initial;
}

.footer-links .cta-1:hover {
  background: #c0c0c0;
}

.site-footer .follow-container {
  margin: 3rem auto;
  padding-bottom: 3rem;
  border-bottom: 1px solid #ffffff;
  text-align: center;
}

.site-footer .follow-container .link {
  margin-top: 0;
  margin-bottom: 2rem;
  text-align: left;
}

.twitter-icon,
.linkedin-icon,
.youtube-icon {
  display: inline-block;
  width: 35px;
  height: 35px;
  margin: 0 0.6rem;
}

.twitter-icon {
  background: url('img/assises/icon_twitter.svg') no-repeat center / 100%;
}

.linkedin-icon {
  background: url('img/assises/icon_linkedin.svg') no-repeat center / 100%;
}

.youtube-icon {
  background: url('img/assises/icon_youtube.svg') no-repeat center / 100%;
}

.instagram-icon {
  background: url('img/assises/icon_instagram.svg') no-repeat center / 100%;
}

.logo-dgconsultants {
  display: inline-block;
  width: 68px;
  height: 47px;
  margin-top: -3rem;
  margin-right: 1.5rem;
  background: url('img/assises/logo-dg.svg') no-repeat;
}

.logo-comexposium {
  display: inline-block;
  width: 149px;
  height: 24px;
  margin-left: 1.5rem;
  background: url('img/assises/logo-comexposium.svg') no-repeat center;
}

.site-footer .footer-bottom-container .content {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1220px;
  margin: 0 auto;
}

.site-footer .footer-bottom-container p {
  margin-top: 0;
  margin-right: 1.5rem;
  font-size: 1.3rem;
}

.footer-bottom-container ul {
  display: flex;
}

.footer-bottom-container [class^="btn"] {
  padding: 1rem 1.5rem;
  border: 0;
  background: transparent;
  font-size: 1.3rem;
  text-transform: initial;
}

.btn-primary:focus,
.btn-primary:hover,
.btn-primary:active {
  border-color: transparent;
  background-color: transparent;
  color: #ffffff;
}

/***********************************/
/* HOME */
/***********************************/
#pub {
  width: 320px;
  margin: 5rem auto;
  text-align: center;
}

.front .site-wrapper {
  background: url('img/assises/rosette.svg') no-repeat -55rem 94rem / 1020px 1020px;
  box-shadow: none;
}

.front .header-edito {
  max-width: initial;
  padding: 3rem 0 5rem;
  background-color: #e50041;
  color: #ffffff;
}

.front .header-edito .inside {
  display: block;
  max-width: 1220px;
  margin: 0 auto;
}

.front .header-edito h1 {
  display: none;
}

.front .header-edito h2 {
  display: inline;
  margin: 0;
  padding: 0;
  color: #004951;
  background-color: #ffffff;
  font-size: 4rem;
  line-height: 1.45;
  box-shadow: 0 0 12px 2px rgba(0,0,0,0.16);
}

.front .header-edito h2 u {
  padding: 0 3rem;
  font-family: 'Vollkorn', serif;
  font-weight: 600;
  text-decoration: none;
}

.front .header-edito blockquote {
  margin: 3rem auto 0;
  padding: 3rem 2rem;
  max-width: 335px;
  background-color: rgba(229, 0, 65, 0.76);
  color: #ffffff;
  font-weight: 600;
  box-shadow: 0 0 12px 2px rgba(0,0,0,0.16);
}

.front .header-edito blockquote lien1,
.front .header-edito blockquote lien2 {
  display: inline-block;
  min-width: 190px;
  padding: 1rem;
  text-align: center;
  font-weight: 700;
  font-size: 1.6rem;
  border: 0;
}

.front .header-edito blockquote p.style1 {
  margin-top: 3rem;
}

.front .header-edito blockquote .lien2 {
  margin-bottom: 1rem;
}

.front .header-edito blockquote .icon-quote {
  display: none;
}

.gla-item-content {
  position: relative;
}

.title-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1220px;
  margin: 0 auto;
}

/* Vidéos */
.videos-container {
  position: relative;
  width: 76%;
  max-width: 1220px;
  margin: 3rem auto 7rem;
  padding: 7rem 4rem;
  background: url('img/readyforit/bg_1.jpg') no-repeat  0 0 / cover;
  color: #ffffff;
}

.videos-container h2 {
  color: #ffffff;
  font-size: 5.25rem;
  font-weight: 500;
}

.videos-text {
  width: 40%;
}

.videos-text p {
  margin-top: 3rem;
}

.videos-text a {
  display: inline-block;
  margin-top: 3rem;
  padding-left: 0.8rem;
  border-left: 5px solid #6dd700;
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 500;
  text-decoration: none;
}

.videos-content {
  position: absolute;
  top: 20%;
  right: -95px;
  width: 570px;
  height: 330px;
}

.videos-content .capsule-green {
  position: absolute;
  z-index: 2;
  top: 1.2rem;
  left: -2.2rem;
  padding: 0 2.5rem;
}

.videos {
  width: 570px;
  height: 330px;
  box-shadow: 0 22px 40px -15px rgba(0, 0, 0, 0.85);
}

.videos iframe {
  width: 570px;
  height: 330px;
}

.videos .slick-prev,
.videos .slick-next {
  z-index: 2;
  width: 36px;
  height: 36px;
  background: rgba(0, 0, 0, 0.5);
}

.videos .slick-prev {
  left: 0;
}

.videos .slick-next {
  right: 0;
}

.videos .slick-dots {
  bottom: -50px;
}



















/* Header */
.site-banner .inside {
  max-width: inherit;
  padding: 0;
}

.site-banner .inside .quicklinks {
  display: none;
  background: #ab0638;
}

.site-banner .inside .quicklinks .linkid811137 {
  order: 3;
  background: #000000;
}

.site-banner .inside .quicklinks .btn-primary {
  padding: 0.7rem 2.5rem;
  border: 0;
  background: transparent;
  font-size: 1.5rem;
  text-transform: initial;
}

.site-banner .inside .quicklinks .txt-btn {
  font-family: 'Vollkorn', serif;
  font-weight: 600;
}

.site-banner .inside .quicklinks .linkid811137 .txt-btn,
.site-banner .inside .quicklinks .linkid811136 .txt-btn {
  font-family: 'Miriam Libre', sans-serif;
  font-weight: normal;
}

.site-banner .inside .quicklinks .linkid811137 .btn-primary {
  padding: 0.85rem 2.5rem;
  font-size: 1.3rem;
  text-transform: uppercase;
}

.site-banner .inside .quicklinks .linkid811136 .btn-primary {
  padding: 0.9rem 2.5rem;
  font-size: 1.2rem;
}

.lang-switcher {
  display: none;
  right: 13.8rem;
  padding: 0.38rem 0;
  background: #ab0638;
}

.ls-trigger {
  padding: 0.5rem 1.5rem;
  color: #ffffff;
  font-size: 1.4rem;
}

.ls-trigger::after {
  border-color: #ffffff transparent transparent;
}

.ls-trigger:focus {
  outline: 0;
}

.site-banner .header-content {
  display: flex;
  align-items: flex-end;
  height: 55px;
  padding: 1rem;
}

.site-banner .header-logo {
  display: block;
  width: 182px;
  height: 23px;
  background: url('img/assises/logo.svg') no-repeat;
}

.title-logo {
  display: block;
  position: relative;
  font-size: 2rem;
  text-indent: -9999px;
}

/* Stiky header */
.front .site-banner {
  background: #e50041;
  box-shadow: none;
  border-bottom: 0;
}

.is-stuck.site-banner {
  z-index: 100;
  padding: 0;
}

.is-stuck .mn-item-lvl-1:first-child {
  display: block;
}

.is-stuck .lang-switcher {
  display: none;
}

/* Navigation */
.site-banner .main-navigation {
  display: none;
  box-shadow: none;
}

.is-stuck .mn-menu-line {
  margin: 0;
  width: 100%;
}

.mn-menu {
  display: initial;
}

.mn-menu-line {
  border: 0;
}

.main-navigation .mn-menu-lvl1 {
  display: inline-block;
  width: 100%;
}

.main-navigation .mn-item-lvl-1 {
  border-bottom: 1px solid #eae8e8;
}

.front .mn-item-lvl-1 > .mn-link {
  min-height: 37px;
  margin-bottom: 0.5em;
  padding: 0.5em 0 0 0;
  font-size: 2.1rem;
  font-weight: 700;
  text-transform: uppercase;
}

.mn-link-text::before {
  display: none;
}

.is-open .mn-item-lvl-1 > .mn-link {
  background: transparent;
  color: #ffffff;
}

.mn-link.mn-link:hover,
.mn-link.mn-link:focus,
.mn-link.mn-link.is-active {
  background: transparent;
  color: #e50041;
}

.is-open .mn-item-lvl-2 > .mn-link {
  background: transparent;
  color: #003239;
  font-weight: 700;
}

.mn-menu-submenu {
  background: #ffffff;
  color: #003239;
}

.is-open > .mn-menu-submenu {
  position: initial;
}

.mn-menu-submenu .mn-link {
  font-size: 1.4rem;
}

.mn-menu-submenu .mn-link:hover,
.mn-menu-submenu .mn-link:focus,
.mn-menu-submenu .mn-link.is-active {
  padding-left: 1.85em;
  border: 0;
  background: #a5948f;
  color: #ffffff;
}


/* A propos */
.gla-item {
  box-shadow: none;
}

.gla-item-content .gla-item-btn {
  margin-top: 0;
}

h2.gla-item-title {
  font-size: 1rem;
}

/* Edito découvrez */
.edito.decouvrez {
  padding: 4rem 2rem;
  background: #f2efef;
}

.edito.decouvrez .inside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.edito.decouvrez .block-title {
  display: none;
}

.edito.decouvrez h3 {
  margin-top: 0;
  margin-bottom: 3rem;
  font-family: 'Vollkorn', serif;
  font-size: 3rem;
  font-weight: 600;
  color: #e50041;
}

.edito.decouvrez p {
  margin: 0;
  font-weight: 700;
}

.edito.decouvrez blockquote:first-of-type {
  margin-top: 0;
}

.edito.decouvrez blockquote:not(:first-of-type) {
  display: flex;
  margin-top: 6rem;
}

.edito.decouvrez blockquote:not(:first-of-type) p {
  width: 159px;
  margin: 0 0.8rem;
}

.edito.decouvrez blockquote .icon {
  display: none;
}

/* Edito */
.edito {
  max-width: 337px;
  margin: 0 auto;
}

.edito h2 {
  display: none;
}

.edito figure {
  margin: 0;
  float: none;
}

.edito figure img {
  width: 100%;
  margin-bottom: 1rem;
}

.edito figure figcaption strong {
  font-family: 'Vollkorn', serif;
  font-size: 1.7rem;
  font-weight: 600;
}

.edito figure small {
  color: #e50041;
  font-size: 1.6rem;
  font-weight: 700;
}

.edito blockquote h3 {
  margin-top: 0;
}

.edito blockquote p.style1 {
  font-size: 2.3rem;
  color: #004951;
  line-height: 1.4;
}

.edito .edito-item-btn {
  position: absolute;
  bottom: 0;
  left: 380px;
}

.edito blockquote .icon {
  display: none;
}

/* speakers remarquables */
.article-focus {
  background: transparent;
  border: 0;
  padding: 0;
  color: #ffffff;
}

.article-focus .inside {
  background: #a5948f;
  padding: 2rem;
}

.article-focus .inside .af-title {
  font-size: 3rem;
  font-weight: 700;
  color: #001821;
  background: #ffffff;
  display: inline-block;
  padding: 0 2rem;
  margin-bottom: 4rem;
}

.article-focus .inside p:not(.style1) {
  margin-top: 0;
  margin-bottom: 4rem;
}

/* Desktop version */
@media (min-width: 721px) {
  /* Cookies */
  .cc-cookies {
    top: inherit;
    bottom: 0;
    padding: 1rem 10%;
    background: #ab0638;
    color: #ffffff;
  }

  .cc-cookies .inside {
    max-width: 1220px;
  }

  .cc-cookie-link,
  .cc-cookies a:hover,
  .cc-cookies a:focus {
    color: #ffffff;
  }

  .cc-cookie-accept {
    right: -10%;
    padding: 0.5rem 1rem;
    background: #000000;
    color: #ffffff;
    font-size: 1.4rem;
  }

  /* Header */
  .site-banner .header-content {
    display: flex;
    align-items: flex-end;
    float: left;
    height: 70px;
    padding: 1rem;
  }

  .site-banner .inside .quicklinks {
    display: flex;
    justify-content: flex-end;
    padding-right: 21rem;
  }

  .site-banner .inside .quicklinks .ql-list {
    display: flex;
  }

  .site-banner .header-logo {
    display: block;
    width: 152px;
    height: 28px;
    background: url('img/assises/logo.svg') no-repeat;
  }

  .site-banner .main-navigation {
    display: flex;
    align-items: flex-end;
    float: left;
    clear: none;
    padding: 0;
    height: 70px;
    background: transparent;
    box-shadow: none;
  }

  /* Stiky header */
  .is-stuck .lang-switcher {
    display: block;
  }

  .is-stuck .mn-menu-line {
    margin: 0;
  }

  /* Navigation */
  .front .mn-item-lvl-1 > .mn-link {
    margin-bottom: 0.75em;
    padding: 0.75em 0.75em 0 0.75em;
    font-size: 1.3rem;
    text-transform: initial;
  }

  .mn-item-lvl-1 > .mn-link,
  .front  .mn-item-lvl-1 > .mn-link
  .front .is-stuck .mn-item-lvl-1 > .mn-link {
    min-height: 54px;
    padding-bottom: 0.5em;
    color: #ffffff;
    font-size: 1.8rem;
  }

  .mn-link.mn-link:hover,
  .mn-link.mn-link:focus,
  .mn-link.mn-link.is-active {
    border-bottom: 2px solid #ffffff;
  }

  /* Footer */
  .site-footer {
    background: #001821 url('img/assises/rosette-opacity.svg') no-repeat 50% 5rem / 1020px 1020px;
  }

  .site-footer .inside {
    padding: 7rem 0 0;
  }

  .site-footer .footer-top-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1220px;
    margin: 0 auto 4.25rem;
  }

  .site-footer .footer-top-container p {
    margin-top: 2rem;
    font-size: 1.4rem;
  }

  .footer-dgconsultants,
  .footer-comexposium,
  .footer-links {
    flex: 0 0 31%;
  }

  .site-footer h2 {
    font-size: 1.8rem;
    color: #ffffff;
  }

  .site-footer .link {
    margin-top: 3rem;
    display: block;
    text-transform: uppercase;
    font-size: 1.6rem;
    font-weight: 700;
  }

  .footer-comexposium {
    padding-right: 2rem;
    border-right: 1px solid #ffffff;
  }

  .footer-links .cta-1 {
    display: block;
    margin: 0 0 1.2rem 0;
    color: initial;
  }

  .footer-links .cta-1:hover {
    background: #c0c0c0;
  }

  .site-footer .follow-container {
    margin: 2rem auto 0;
    padding-top: 2rem;
    padding-bottom: 0;
    border-top: 1px solid #ffffff;
    border-bottom: 0;
    text-align: left;
  }

  .site-footer .follow-container .link {
    margin-top: 0;
    margin-bottom: 2rem;
  }

  .twitter-icon,
  .linkedin-icon,
  .youtube-icon {
    display: inline-block;
    width: 35px;
    height: 35px;
    margin: 0 0.6rem;
  }

  .twitter-icon {
    background: url('img/readyforit/icon_twitter.png') no-repeat center / 100%;
  }

  .linkedin-icon {
    background: url('img/readyforit/icon_linkedin.png') no-repeat center / 100%;
  }

  .youtube-icon {
    background: url('img/readyforit/icon_youtube.png') no-repeat center / 100%;
  }

  .logo-dgconsultants {
    display: inline-block;
    width: 68px;
    height: 47px;
    margin-top: -3rem;
    margin-right: 1.5rem;
    background: url('img/assises/logo-dg.svg') no-repeat;
  }

  .logo-comexposium {
    display: inline-block;
    width: 149px;
    height: 24px;
    margin-left: 1.5rem;
    background: url('img/assises/logo-comexposium.svg') no-repeat center;
  }

  .site-footer .footer-bottom-container .content {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1220px;
    margin: 0 auto;
  }

  .site-footer .footer-bottom-container p {
    margin-top: 0;
    margin-right: 1.5rem;
    font-size: 1.3rem;
  }

  .footer-bottom-container ul {
    display: flex;
  }

  .footer-bottom-container [class^="btn"] {
    padding: 1rem 1.5rem;
    border: 0;
    background: transparent;
    font-size: 1.3rem;
    text-transform: initial;
  }

  .btn-primary:focus,
  .btn-primary:hover,
  .btn-primary:active {
    border-color: transparent;
    background-color: transparent;
    color: #ffffff;
  }

  /* home */
  #pub {
    width: 970px;
    margin: 5rem auto;
    text-align: center;
  }

  .front .header-edito h2 {
    font-size: 5.4rem;
  }

  .front .header-edito blockquote {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 3rem;
    max-width: 460px;
  }

  .front .header-edito blockquote p.style1 {
    display: flex;
    justify-content: space-around;
    margin-top: 6rem;
  }

  .front .header-edito blockquote .lien2 {
    margin-bottom: 0;
  }

  /* EDITO DECOUVREZ */
  .edito.decouvrez {
    max-width: 1220px;
    margin: 0 auto;
    padding: 2rem 1.2rem 2rem 4rem;
  }

  .edito.decouvrez .inside {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .edito.decouvrez .block-title {
    display: none;
  }

  .edito.decouvrez h3 {
    margin-top: 0;
    margin-bottom: 3rem;
    font-family: 'Vollkorn', serif;
    font-size: 3rem;
    font-weight: 600;
    color: #e50041;
  }

  .edito.decouvrez p {
    margin: 0;
    font-weight: 700;
  }

  .edito.decouvrez blockquote:first-of-type {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
  }

  .edito.decouvrez blockquote:not(:first-of-type) {
    justify-content: flex-end;
    width: 50%;
    margin-top: 0;
  }

  .edito.decouvrez blockquote:not(:first-of-type) p {
    margin: 0 0.8rem;
  }

  .edito.decouvrez blockquote .icon {
    display: none;
  }

  /* EDITO */
  .edito {
    max-width: 1220px;
    margin: 0 auto;
  }

  .edito .inside {
    display: flex;
    position: relative;
  }

  .edito figure {
    flex: 1 0 352px;
    margin-right: 2rem;
  }

  .edito figure img {
    width: 100%;
    margin-bottom: 1rem;
  }

  .edito figure figcaption strong {
    font-family: 'Vollkorn', serif;
    font-size: 1.7rem;
    font-weight: 600;
  }

  .edito figure small {
    color: #e50041;
    font-size: 1.6rem;
    font-weight: 700;
  }

  .edito blockquote h3 {
    font-weight: 700;
    text-transform: uppercase;
  }

  .edito blockquote p.style1 {
    font-size: 2.3rem;
    color: #004951;
    line-height: 1.4;
  }

  .edito .edito-item-btn {
    margin-top: 5rem;
  }

  .edito blockquote .icon {
    display: none;
  }

  /* speakers remarquables */
  .article-focus {
    position: relative;
    display: flex;
    justify-content: flex-end;
  }

  .article-focus img {
    position: absolute;
    max-width: 542px;
    top: 6rem;
    right: 745px;
  }

  .article-focus .inside {
    max-width: 860px;
    padding: 6rem 10rem 12rem 17rem;
  }
}

@media (min-width: 961px) {
  .site-banner .header-logo {
    width: 228px;
  }
}
